{% extends 'base.html.twig' %}

{% block body_class %}
    login-page
{% endblock %}

{% block body %}
    <section class="login-box">
        <div class="login-logo">
            <a href="index3.html" class="brand-link vehicle-sidebar-brand-link">
                <img class="img-fluid" alt="Vehicle" src="{{ asset('build/images/logo.png') }}">
            </a>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg vehicle-login-message">{% trans %}user.login.message{% endtrans %}</p>

                    {{ form_start(loginForm, { 'attr' : { 'class': 'form login-form', 'novalidate' : 'novalidate' } }) }}
                    {% set errorClass = '' %}
                    <div class="form-group">
                        {{ form_label(loginForm.email) }}

                        {% if loginForm.email.vars.errors|length %}
                            {% set errorClass = ' is-invalid' %}

                            <div class="alert alert-danger">{{ form_errors(loginForm.email) }}</div>
                        {% endif %}

                        {{ form_widget(loginForm.email, { 'attr' : { 'class': 'form-control' ~ errorClass } }) }}

                    </div>
                    <div class="form-group">
                        {{ form_label(loginForm.password) }}

                        {% if loginForm.password.vars.errors|length %}
                            {% set errorClass = ' is-invalid' %}

                            <div class="alert alert-danger">{{ form_errors(loginForm.password) }}</div>
                        {% endif %}

                        {{ form_widget(loginForm.password, { 'attr' : { 'class': 'form-control' ~ errorClass } }) }}

                    </div>
                    {{ form_widget(loginForm.submit, { 'attr' : { 'class': 'btn btn-primary vehicle-gradient-button' } }) }}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {{ form_end(loginForm) }}
                </div>
            </div>
        </div>
{% endblock %}